.button-active {
    background-color: red;
    padding: 5px 25px;
}

.content-none{
    display: none;
}

.block-visible{
    background-color: yellow;
    text-align: left;
    display: block;
    height: 80px;
    width: 300px;
} 