.container {
   max-width: 1440px;
   margin: 0 auto;
   padding: 0 15px;
}
.gallery {
   display: flex;
   margin: 25px 0;
}
.gallery-albums {
   flex-basis: 25%;
   margin-right: 25px;
}
.gallery-images {
   flex-basis: 75%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
}
.album {
   margin: 8px 0;
   text-align: center;
   list-style: none;
}
.btns {
   cursor: pointer;
   padding: 10px 15px;
   color: black;
   text-transform: capitalize;
   font-weight: 900;
   background-color: darkgoldenrod;
}
.images {
   margin: 5px;
   width: 150px;
   height: 150px;
   border: 2px solid black;
   background-color: gold;
}
.image-id {
   font-size: 40px;
   font-weight: bold;
   text-align: center;
}